  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Corporate | Recoding Campus  </title>

      <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
      <link href="css/fontawesome.min.css" rel="stylesheet" type="text/css" />
      <link href="css/owl.carousel.min.css" rel="stylesheet" type="text/css" />
      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      />
      <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
        crossorigin="anonymous"
      />
      <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
      />
      <link rel="stylesheet" href="/CSS/corporatetraining.css" />
      <link rel="stylesheet" href="/CSS/navbar.css" />
      <link rel="stylesheet" href="/CSS/footer.css" />
    </head>
    <body>
      <!-- ----------------------------------------
      Navbar
      ---------------------------------------- -->
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand" href="#">ReCoding</a>

          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="collapse collapsed navbar-collapse justify-content-center gy-xl-5"
            id="navbarSupportedContent"
          >
            <button type="button" class="btn btn-outline-light mx-3 my-3">
              <i class="bi bi-grid-3x3-gap mx-2"></i>Course Menu
            </button>
            <form class="d-flex form">
              <input
                class="form-control me-0 rounded-0"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <button type="button" class="btn btn-warning rounded-0">
                <i class="bi bi-search" style="color: white"></i>
              </button>
            </form>

            <ul class="navbar nav align-items-cente mx-5 gap-3">
              <li><a href="/Components/home/allcourse.html">All Courses</a></li>
              <div class="lign align-self-center"></div>
              <li>
                <a href="/Components/home/corporatetraining.html"
                  >Corporate Training</a
                >
              </li>
            </ul>
            <div class="user"><a href="/Components/home/login.html" style="color: white;"><i class="bi bi-person-circle"></i></a></div>
          </div>
        </div>
      </nav>
      <section class="mininav container-fluid">
        <div class="container">
          <ul
            class="mini d-flex list-unstyled justify-content-center align-items-center"
          >
            <li class=""><i class="fa-solid fa-money-bill"></i> Fee Deposit</li>
            <li class="">
              <i class="fa-solid fa-arrows-to-circle"></i> Request Zon
            </li>
            <li><i class="bi bi-star-half"></i> Reviews</li>
            <li><i class="fa-solid fa-blog"></i> Blogs</li>
            <li><i class="fa-regular fa-newspaper"></i> Press Release</li>
            <li>
              <i class="far fa-pen-to-square fa-fw"></i> Training Certificate
            </li>
            <li><i class="fa-solid fa-location-dot"></i> Contact Us</li>
          </ul>
        </div>
      </section>
      <!-- End navbar -->

      <main class="main_container">
        <div class="corporate_training_banner container-fluid m-0 p-0">
          <img
            src="/IMG/corporate-training.webp"
            alt=""
            class="w-100 h-100 p-0 m-0"
          />
        </div>

        <section
          class="section1 container-fluid py-5 d-flex flex-column justify-content-center align-items-center gap-5"
        >
          <div
            class="heading d-flex justify-content-center align-items-center flex-column"
          >
            <h5 style="border-bottom: 5px solid orange">
              CORPORATE TRAINING APPROACH
            </h5>
            <p class="text-center">
              By utilizing our high-impact training approach, we always deliver
              the world-class Corporate Training solutions to industries that
              assure maximum returns on your investments. We follow easy
              methodology to help companies undergo transformation and enjoy
              maximum ROI with skilled workforce:
            </p>
          </div>
          <div
            class="card-box d-flex flex-wrap gap-5 justify-content-center align-items-center"
          >
            <div
              class="card d-flex justify-content-center align-items-center flex-column p-3 gap-3"
            >
              <div class="logo">
                <img
                  src="/IMG/logo/develop_telant_logo.png"
                  alt=""
                  width="50px"
                />
              </div>
              <div class="txt text-center">
                <h5 style="font-size: 17px; font-weight: 700">Develop Talent</h5>
                <p style="font-size: 14px">
                  We not only deliver the skills but help industries to build up
                  talented workforce that is ready for the future.
                </p>
              </div>
            </div>
            <div
              class="card d-flex justify-content-center align-items-center flex-column p-3 gap-3"
            >
              <div class="logo">
                <img src="/IMG/logo/gain_idintity_logo.png" alt="" width="80px" />
              </div>
              <div class="txt text-center">
                <h5 style="font-size: 17px; font-weight: 700">Gain Identity</h5>
                <p style="font-size: 14px">
                  With the right skills and knowledge, get unique identification
                  among the crowd and complete your project more effectively.
                </p>
              </div>
            </div>
            <div
              class="card d-flex justify-content-center align-items-center flex-column p-3 gap-3"
            >
              <div class="logo">
                <img src="/IMG/logo/exam_logo.png" alt="" width="60px" />
              </div>
              <div class="txt text-center">
                <h5 style="font-size: 17px; font-weight: 700">
                  Project Based Training
                </h5>
                <p style="font-size: 14px">
                  We deliver a perfect blend of theoretical and practical learning
                  where projects are an integral part of the training.
                </p>
              </div>
            </div>
            <div
              class="card d-flex justify-content-center align-items-center flex-column p-3 gap-3"
            >
              <div class="logo">
                <img src="/IMG/logo/exam_logo.png" alt="" width="60px" />
              </div>
              <div class="txt text-center">
                <h5 style="font-size: 17px; font-weight: 700">
                  Certification Exam
                </h5>
                <p style="font-size: 14px">
                  We help employees to prepare for the global certification exam
                  and mostly clear it in the first attempt.
                </p>
              </div>
            </div>
            <div
              class="card d-flex justify-content-center align-items-center flex-column p-3 gap-3"
            >
              <div class="logo">
                <img src="/IMG/logo/any_time_logo.png" alt="" width="40px" />
              </div>
              <div class="txt text-center">
                <h5 style="font-size: 17px; font-weight: 700">
                  Any Time & Any Where
                </h5>
                <p style="font-size: 14px">
                  We offer constant support to clear your doubts anytime, anywhere
                  under the experts guidance.
                </p>
              </div>
            </div>
            <div
              class="card d-flex justify-content-center align-items-center flex-column p-3 gap-3"
            >
              <div class="logo">
                <img src="/IMG/logo/certificate_logo.png" alt="" width="50px" />
              </div>
              <div class="txt text-center">
                <h5 style="font-size: 17px; font-weight: 700">
                  Training Certificate
                </h5>
                <p style="font-size: 14px">
                  Get a course completion certificate once you complete the
                  training and this certificate is valid worldwide.
                </p>
              </div>
            </div>
          </div>
        </section>

        <!-- ----------------------------------------
      section 2
      ---------------------------------------- -->
        <section
          class="section2 container-fluid p-5 d-flex justify-content-center align-items-center flex-column gap-5"
        >
          <div
            class="heading d-flex justify-content-center align-items-center flex-column w-75 gap-3"
          >
            <h5 style="border-bottom: 5px solid orange; font-weight: 500">
              WHY RECODING
            </h5>
            <p class="text-center">
              We are providing Corporate Training in most emerging technologies
              that are transforming the economy. Our blended training approach
              enhances maximum engagement with utmost completion rates. We provide
              customized training as per your requirements and known well to
              deliver effective learning in multiple areas like Data Science, AWS,
              DevOps, Automation, full-stack development, AI, and more.
            </p>
          </div>
          <div class="img">
            <img src="/IMG/Why_Croma_Campus.png" alt="" width="100%" height="auto"/>
          </div>
        </section>

      <!-- ----------------------------------------
      section 3
      ---------------------------------------- -->
      <section class="section3 d-flex gap-0 justify-content-center align-items-center">
        <div class="item1 p-5">
          <h1  style="font-size: 30px;font-weight: 700;">RECODING CAMPUSE FOR CORPORATE</h1>
          <p class="my-4 text-warning">Corporate Training Solution that Accelerates Business!</p>
          <p class="my-4">
            We believe in interactive learning that is 7 times more effective than
            passive learning. Today, every company requires digital transformation
            and they are looking for effective ways to minimize the skills gap. We
            help corporates with best training programs to align cutting-edge
            technologies and employees together.
          </p>

          <button class="button my-4 showbtn"><span>ASK A DEMO </span></button>
          <div class="popupbox">
            <div class="form-box d-flex">
                <div class="hidebox"><i class="bi bi-x-lg"></i></div>
                <div class="img w-50">
                    <img src="https://www.cromacampus.com/public/img/enrollnow.png" alt="">
                </div>
                <div class="form-info w-50 py-4 d-flex justify-content-start align-items-center flex-column">
                    <h3 style="font-weight: 700; font-size: 25px;color: orange;"><i class="bi bi-file-earmark-arrow-down-fill"></i> Download Placement</h3>
    
                    <form action="">
                        <input type="text" placeholder="Enter Name">
                        <input type="email" placeholder="Enter Email">
                        <div class="contrynumber d-flex justify-content-center align-items-center" style="border-bottom: 2px solid orange;height: 52px;">
                            <select name="" id="" class="border-0 bg-transparent m-0 p-0" style="color: black; height: 20px;" >
                              <option value="india">+91(IND)</option>
                              <option value="india">+93(AFG)</option>
                              <option value="india">+86(CHN)</option>
                              <option value="india">+61(AUS)</option>
                              <option value="india">+81(JPN)</option>
                            </select>
                            <input type="number" class="numberinput border-0" name="" id="" placeholder="Enter Phone">
                          </div>
                        <input type="text" placeholder="Search Course">
    
                        <button type="button" class="subbtn my-4 rounded-3">Download Placement</button>
                        <p style="font-size: 12px;">By registering here, I agree to Croma Campus <span class="text-primary"">Terms & Conditions</span> and <span class="text-primary">Privacy Policy</span></p>
                    </form>
                </div>
            </div>
        </div>
        </div>
        <div class="item2">
          <img src="/IMG/Hexagon_Courses_2.png" alt="" width="80%" height="auto">
        </div>
      </section>

      
      <!-- ----------------------------------------
      section 4
      ---------------------------------------- -->
      <section class="section4 container-fluid d-flex justify-content-center align-items-center flex-column">
        <div class="heading">
          <h5 style="border-bottom: 5px solid orange; font-weight: 500">
            OUR EXPERIENCE MENTORS
          </h5>
        </div>
          <div class="expert-box gap-5 w-100 h-auto d-flex justify-content-evenly align-items-center ">
            <div class="expert-info d-flex justify-content-center align-items-start flex-column">
              <div class="heading d-flex justify-content-center align-items-center">
                <div class="rounded-5 bg-warning d-flex justify-content-center align-items-center" style="height: 50px; width: 50px;overflow: unset;"><h5 style="font-size: 20px;font-weight: 700;">Mr.</h5></div>
                <h5 style="font-size: 20px;font-weight: 700;"> Priyansh Singhania</h5>
              </div>
              <p class="my-5" style="font-weight: 400;">
                He is an experienced AWS/DevOps coach, professional cloud computing trainer and facilitator helping organizations to exploit the fundamentals of cloud technologies to overcome the traditional style of working and enable continuous delivery with highest values and ROI. He has been working in the same domain for years and trained hundreds of professionals so far.
              </p>
              <div class="experiance px-2 d-flex flex-column">
                <div class="txt"><strong>Corporate Trainer:</strong><p  style="font-weight: 400;">Full Stack Developement</p></div>
                <div class="txt"><strong>Industry Expericence:</strong><p  style="font-weight: 400;">9 Year</p></div>
              </div>
            </div>
            <div class="expert-img">
              <img src="/IMG/corporate_section4_expert_img.png" alt="" width="400PX" height="auto">
            </div>
          </div>
      </section>

      
      <!-- ----------------------------------------
      section 5
      ---------------------------------------- -->
      <section class="section5 container-fluid d-flex justify-content-center align-items-center">
        <div>

          <div class="txt">
            <h3 style="font-weight: 800;font-size: 20px;">Are you satisfied with our Corporate Training Curriculum?</h3>
            <p style="font-weight: 400;">If yes, Register today and get impeccable Learning Solutions that Impacts Business!.</p>
          </div>
          <form class="p-2 w-100 d-flex gap-5 w-50 justify-content-center align-items-center flex-wrap">
            <div class="number bg-transparent d-inline">
              <label for="">Mobile No.</label>
              <div class="contrynumber d-flex justify-content-center align-items-center">
                <select name="" id="" class="border-0" style="width:100px;">
                  <option value="india">+91(IND)</option>
                  <option value="india">+93(AFG)</option>
                  <option value="india">+86(CHN)</option>
                  <option value="india">+61(AUS)</option>
                  <option value="india">+81(JPN)</option>
                </select>
                <input type="number" class="border-0 p-2" placeholder="Enter Phone*" name="" id="">
              </div>
            </div>
            <div class="email">
              <label for="">Email</label><br>
              <input type="email" placeholder="Enter Email" class="border-0 p-1">
            </div>
            <button type="button" class="rounded-2" >Enroll Now</button>  
          </form>
        </div>
        <img src="/IMG/corporate_section5_img.png" height="100%" alt="">
      </section>

      
      <!-- ----------------------------------------
      section 6
      ---------------------------------------- -->

      <section class="section6 container-fluid d-flex justify-content-start align-items-center flex-column gap-4 m-0 p-0">
        <div class="heading p-5 m-0 ">
            <h5 style="border-bottom: 5px solid orange; font-weight: 500">
              OUR SUCCESS
            </h5>
          </div>
          <div class="counts container-fluid d-flex justify-content-evenly align-items-center">
            <div class="training d-flex justify-content-center align-items-center flex-column">
              <h1>10+</h1>
              <p>Years of Corporate Training</p>
            </div>
            <div class="trained d-flex justify-content-center align-items-center flex-column">
              <h1>62000+</h1>
              <p> Professionals Trained</p>
            </div>
            <div class="Workshop d-flex justify-content-center align-items-center flex-column">
              <h1>1000+</h1>
              <p>Workshop</p>
            </div>
          </div>
          <div class="empower p-5 d-flex justify-content-center align-items-center ">
            <div class="txt w-50 m-5">
              <h2 style="color: orange;">Ready to empower your
                Workforce?</h2>
              <p class="text-light text-weight-light my-5">Fill the details in the form to know all about our Corporate Training Solutions and Take your first step towards the success with the world-leading IT training company in Noida where employees not only acquire the skills but we help them to become future-ready.</p>

              <div class="contact d-flex gap-5 my-5">
                <div class="number bg-transparent">
                  <div class="icon d-flex justify-content-center align-items-center" ><i class="bi bi-telephone-fill"></i></div>
                  <p class="text-light py-2">0120-4155255</p>
                </div>
                <div class="email">
                  <div class="icon d-flex justify-content-center align-items-center " ><i class="bi bi-envelope"></i></div>
                  <p class="text-light py-2">team-corporate@recodingcampus.com</p>
                </div>
              </div>
            </div>
            <div class="form-box rounded-4 d-flex justify-content-start align-items-center flex-column p-4">
              <h5>Drop us Your Message</h5>
              <form action="" class="d-flex justify-content-evenly align-items-center flex-wrap gap-2">
                <input type="text" placeholder="Enter First Name*">
                <input type="text" placeholder="Enter Last Name*">
                <input type="Email" placeholder="Enter Email*">
                <input type="number" placeholder="Enter Phone*">
                <input type="text" placeholder="Company Name*">
                <input type="text" placeholder="Enter Designation">
                <input type="text" placeholder="Search Course">
                <select>
                  <option value="" selected>For Yourself</option>
                  <option value="">For Team</option>
                </select>
                <textarea name="" placeholder="Remarks*" id="" cols="70" rows="5" style="padding: 8px;
                font-size: 10px;
                margin-top: 5px;
                border: 0;
                border-bottom: 2px solid orange;"></textarea>
                <p style="font-size:12px;margin: 10px;">By clicking submit button, you agree to our terms & condition and our privacy policy.</p>
              </form>
              <button type="button" class="rounded-3 border-0">Submit</button>
            </div>
          </div>
      </section>


















    </main>
      <!-- ----------------------------------------
      Footer
      ---------------------------------------- -->

      <footer>
        <div
          class="footer1 container-fluid w-100 h-auto d-flex p-5"
        >
          <ul class="list-group list-unstyled gap-3">
            <strong>TRANDING CERTIFICATE COURSES</strong>
            <div class="list">
              <li>Cloud Computing Certification Course</li>
              <li>AWS Certification Training</li>
              <li>DevOps Certification Training</li>
              <li>Microsoft Azure Certification Training</li>
              <li>Salesforce Certification Training</li>
              <li>Data Science Certification Course</li>
              <li>Data Analysis Certification Training</li>
              <li>Full Stack Development Training</li>
              <li>Software Testing Training</li>
              <li>Blockchain Certification Training</li>
              <li>Python Certification Course</li>
            </div>
          </ul>
          <ul class="list-group list-unstyled gap-3">
            <div class="line"></div>
            <strong>TRANDING MASTER COURSES</strong>
            <div class="list">
              <li>Professional in Data Analytics with PowerBI</li>
              <li>Professional in Data Analytics with Tableau</li>
              <li>Master Program in Cloud Computing</li>
              <li>Master in DevOps Engineering</li>
              <li>Master in Software Testing</li>
              <li>Masters in Artificial Intelligence</li>
              <li>Masters in Data Analytics</li>
              <li>Masters in Data Science Program</li>
              <li>Masters in Full Stack Development Training</li>
              <li>Masters in Generative AI</li>
            </div>
          </ul>
          <ul class="list-group list-unstyled gap-3">
            <div class="line"></div>
            <strong>COMPANY</strong>
            <div class="list">
              <li>About Us</li>
              <li>Reviews</li>
              <li>Contect Us</li>
              <li>Blog</li>
              <li>Web Stories</li>
              <li>Webinars</li>
              <li>Our Team</li>
              <li>FAQ's</li>
              <li>Terms & Conditions</li>
              <li>Privacy Policy</li>
              <li>Press Release</li>
            </div>
          </ul>
          <ul class="list-group list-unstyled gap-3">
            <div class="line"></div>
            <strong>WORK WITH US</strong>
            <div class="list">
              <li>Service</li>
              <li>Placement</li>
              <li>Career</li>
              <li>Our Client</li>
              <li>Corporate Training</li>
              <li>Become a Instructor</li>
              <li>Hire From Recoding</li>
              <li>Join us</li>
              <li>Brochure</li>
              <li>Refund</li>
              <li>Shipping & Delivery Policy</li>
            </div>
          </ul>
        </div>
        <div
          class="footer2 container-fluid w-100 h-auto d-flex justify-content-center align-items-start gap-5 p-5"
        >
          <div class="socialmedia w-auto h-auto">
            <strong>FOLLOW US</strong>
            <div class="logo">
              <i class="bi bi-facebook"></i>
              <i class="bi bi-instagram"></i>
              <i class="bi bi-twitter"></i>
              <i class="bi bi-linkedin"></i>
              <i class="bi bi-pinterest"></i>
            </div>
          </div>
          <div class="input">
            <strong>FOR NEWSLETTER</strong>
            <div
              class="email d-flex justify-content-center align-items-center my-2"
            >
              <input
                type="email"
                class="border-0 px-2 py-1"
                placeholder="Enter Email"
              />
              <button type="button" class="border-0">
                <i class="bi bi-send-fill"></i>
              </button>
            </div>
          </div>
          <div class="input">
            <strong>FOR Notification</strong>
            <div
              class="number d-flex justify-content-center align-items-center my-2"
            >
              <input
                type="number"
                class="border-0 px-2 py-1"
                placeholder="Enter number"
              />
              <button type="button" class="border-0">
                <i class="bi bi-send-fill"></i>
              </button>
            </div>
          </div>

          <div class="pyment">
            <strong>WE ACCESS ONLINE PAYMENTS</strong>
            <div class="logo d-flex gap-2 my-2">
              <div class="onlinepy">
                <img
                  src="/IMG/logo/phonepe_logo.png"
                  width="30px"
                  height="30px"
                  alt=""
                />
              </div>
              <div class="onlinepy">
                <img
                  src="/IMG/logo/google_pay_logo.png"
                  width="30px"
                  height="30px"
                  alt=""
                />
              </div>
              <div class="onlinepy">
                <img
                  src="/IMG/logo/paytm_logo.png"
                  width="auto"
                  height="20px"
                  alt=""
                />
              </div>
              <div class="onlinepy">
                <img
                  src="./IMG/logo/visa_logo.png"
                  width="auto"
                  height="20px"
                  alt=""
                />
              </div>
              <div class="onlinepy">
                <img
                  src="/IMG/logo/amarican_paya_logopng.png"
                  width="40px"
                  height="30px"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
        <div class="foote2 container-fluid">
          <p class="text-center" style="color: white; font-size: 10px">
            Copyrignt 2008-2024 Recoding Campus(p) Ltd. All right Reservd
          </p>
        </div>
      </footer>
    </body>

    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/formpopup.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </html>
